.predicate-container {
  border-radius: 4px;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 4px;
  align-items: center;
  height: 44px;
  transition: 0.2s;
  background-color: #f7f7fa;
}

.predicate-container:hover {
  background-color: var(--hover-background-color)
}
.ant-checkbox-inner .ant-checkbox-input {
  transform: scale(1.2);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
